
.carousel-slide {
    height: 420px;               /* controla tamaño del carrusel */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


/* ===============================
   botones y diseño del carrusel
   =============================== */
.adopta-slide {
    background-image: url("../../src/img/carrusel/adoptaoapadrina3.png");
}

.carousel-content {
    margin-left: 80px;
    color: white;
    max-width: 500px;
}

.carousel-content h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.carousel-buttons .btn {
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 30px;
    margin-right: 15px;
}


.carousel-overlay {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  max-width: 450px;
}

.carousel-overlay h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel-img {
  height: 480px;
  object-fit: cover;
  filter: brightness(0.75);
}



-------------------------------------------------- seccion de ayuda rapida  ----------------------- 

.ayuda h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.ayuda-card h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

/* ===============================
   Hacer las imágenes MÁS PEQUEÑAS
   =============================== */


.ayuda-card img {
  width: 180px;        /* controla tamaño */
  height: auto;
  transition: transform 0.3s ease;
}


/* ===============================
Juntar más las imágenes (menos espacio)
   =============================== */

   .ayuda .row {
  justify-content: center;
  gap: 3px;   /* espacio entre tarjetas */
}

/* ===============================
ajusta columnas para que no ocupen tanto
   =============================== */
.ayuda .col-md-4 {
  flex: 0 0 auto;
  width: auto;
}

/* ===============================
Estilo de tarjeta más bonito
   =============================== */

.ayuda-card {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px;
}

.ayuda-card:hover img {
  transform: scale(1.05);
}

.ayuda-card h5 {
  margin-top: 12px;
  font-size: 1rem;
  text-transform: capitalize;
}



