:root {
    --color-principal: #2f4fff;   /* azul principal */
    --color-secundario: #5f7cff;  /* azul más suave */
    --color-fondo: #f7f9ff;       /* fondo claro */
    --color-texto: #1f2933;       /* texto */
}

/*tipografia*/
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto);


_____________________________________________________

/*Barra inicial de la pagina */
.top-bar {
    height: 15px;
    background: linear-gradient(
        to right,
        var(--color-principal),
        var(--color-secundario)
    );
}/


}
/*Navbar (fondo, altura, sombra)*/
.navbar {
    background-color: white;
    padding: 8px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}



/*Links del menú*/
.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: var(--color-texto) !important;
    letter-spacing: 0.5px;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: var(--color-principal);
    transition: width 0.3s ease;
    border-radius: 2px;
}

.navbar .nav-link:hover::after {
    width: 100%;
}



/*css para la casita de inicio*/

.home-emoji {
    font-size: 50px;
    background-color: var(--color-fondocolor-fondo);
    color: white;
    padding: 8px 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.home-emoji:hover {
    background-color: var(--color-secundario);
    transform: scale(1.1);
}


.home-text {
    font-size: 23px;
    font-weight: 500;
    color: var(--color-texto);
}


/*Ajuste para móvil- ocultarlo*/
@media (max-width: 576px) {
    .home-text {
        display: none;
    }
}

/*Ajuste para el footer*/
.footer {
    background-color: var(--color-fondo);
    border-top: 1px solid #e0e4ff;
    padding: 20px 0;
    margin-top: 60px;
}
.footer {
    border-top: 4px solid var(--color-principal);
}
.footer-text {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
}



 /* para que el footer baje*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido {
    flex: 1;
}